#main {
    margin-top: 15px;
    margin-left: 200px;
    margin-right: 200px;
  
    padding: 10 px 150px 10px 150px
    border-radius: 15px;
  
    text-align: left;
}

div.list {
    font size: 30px;
    text-align: left;
  
}

div.list2 {
    font size: 20px;
    text-align: left;
}

body {
    background-color: bisque;
  
}
p {
  color: black;
  
}
