#main {
  
	margin-top: 10px;
	margin-left: 300px;
	margin-right: 300px;

	padding: 5px 150px 10px 150px;

	border-radius: 15px;
    border: 1px solid green;
    background-color: powderblue;
}

div.list {
  
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-bottom: 2px solid green;
    
}

div.list2 {
  
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    
      
}

body {
    background-color: pink;
  
}
p {
  color: black;
  
}


